.titulo {
    background-color: blue;
}

#experiencia{
    color:rgb(77, 220, 20);
}

.intro{
    color: brown;
}

.link{
    background-color: blueviolet;
}

#habilidades{
    color: darkgoldenrod;
}